/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.body {
  /*font-family:  Georgia, serif;*/
}

nav {
  margin-top: 18px;
}

.upvote-menu {
  position: relative;
  bottom: 38px;
  left: 9px;
}


a {
  text-decoration: none;
  color: inherit;
  background-color: #1c8adb;
  color: #fff;
  padding: 6px;
 }

.vote-count {
  background-color: indianred;
  color: #fff;
  padding: 6px;
}

.dog {
  float: left;
  margin: 15px;
}
